body {
    background-image: url(../Images/Flag.jpg);
}
nav {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    font-variant: normal;
    font-weight: bold;
    font-size: large;
    text-align: left;
    letter-spacing: normal;
   
}
h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: oblique;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    text-decoration: underline;
    border-top-style: none;
}
p {
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: italic;
    font-weight: bolder;
    font-variant: normal;
    font-size: large;
    margin-bottom: 50px;
    margin-top: 335px;
}
footer {
    margin-top: 300px;
    color: #FFF3F3;
    background-color: #000000;
}
body aside h3 {
    background-color: #E6E6E6;
    margin-left: 0px;
    margin-right: 900px;
}
body aside h2 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}
body img {
    float: right;
    margin-bottom: 300px;
}

body aside h3 {
}

body h3 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: normal;
    font-variant: normal;
    font-weight: bolder;
    font-size: x-large;
    text-align: left;
    text-decoration: underline;
    margin-top: 60px;
}
body ul {
    background-color: #FFFAFA;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    font-weight: bolder;
    font-size: large;
    white-space: pre-line;
    width: 300px;
    height: 400px;
    word-spacing: 300px;
  
}

.gallery{
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	border: 2px #A39F9F;
	margin: auto;
	
	
}

.gallery img{
	flex-wrap: wrap;
	width:150px;
	height:90px;
	margin: 5px 0;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto;
	padding:10px;
	background-color: antiquewhite;
}
h5 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
    text-align: left;
}
.Dessert {
    background-image: url(../Images/Cannolis.jpg);
}



.grid-item1{
    grid-column: 2/span 3;
}

.grid-item2{
    grid-column: 5/span 1;
}

.grid-item3{
	grid-column:3/span 2;
	grid-row: 2/span 3;
}

.grid-item4{
	grid-column:5/span 2;
	grid-row:3/span 2;
}

.grid-item5{
	grid-column:1/span 2;
	grid-row:2/span 3;
}


body h4 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
    margin-left: 100px;
}

.Family {
    margin: 20px;
    clear: both;
}
.Wine {
    margin-top: 103px;
}
body h6 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: xx-large;
}
